syntax = "proto2";

package probe.protobuf;

option (rustproto.carllerche_bytes_for_bytes_all) = true;
option (rustproto.carllerche_bytes_for_string_all) = true;
option optimize_for = SPEED;

{% for module in modules -%}
{% for structure in module.structures -%}
message {{structure.final}} {
  {% for field in structure.fields %}
  required {{field.type.proto}} {{field.final}} = {{loop.index}} [json_name="{{field.original}}"];
  {% endfor %}
}
{% endfor %}
{% endfor %}
